body {
  background: #faebd7;
  height: 400vh;
}
.confettiContainer {
  position: fixed;
  height: 100%;
  width: 100%;
}
.confettiContainer .confetti {
  position: absolute;
  animation: confettiDrop 8s infinite linear;
  /*randomize animation delay & duration among all confetti elements */
}
.confettiContainer .confetti:nth-child(odd) {
  animation-delay: 1s;
  animation-duration: 8s;
}
.confettiContainer .confetti:nth-child(even) {
  animation-delay: 2s;
  animation-duration: 4s;
}
.confettiContainer .confetti:nth-child(3n+1) {
  animation-delay: 3s;
  animation-duration: 6s;
}
.confettiContainer .confetti:nth-child(4n+2) {
  animation-delay: 4s;
  animation-duration: 7s;
}
.confettiContainer .confetti:nth-child(7n+3) {
  animation-delay: 5s;
  animation-duration: 6s;
}
.confettiContainer .confetti:nth-child(5n+4) {
  animation-delay: 6s;
  animation-duration: 5s;
}
.confettiContainer .confetti:nth-child(9n+5) {
  animation-delay: 7s;
  animation-duration: 4s;
}
.confettiContainer .confetti:nth-child(10n+6) {
  animation-delay: 8s;
  animation-duration: 6s;
}
.confettiContainer .red {
  background-color: #dc2626;
}
.confettiContainer .yellow {
  background-color: #ffbf00;
}
.confettiContainer .blue {
  background-color: #6eaff3;
}
.confettiContainer .green {
  background-color: #64B448;
}
@keyframes confettiDrop {
  15% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(120vh) rotate(360deg);
  }
}
